body {
  margin: 0;
  line-height: normal;
}

.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-istok-web: "Istok Web";
  --font-inria-sans: "Inria Sans";

  /* font sizes */
  --font-size-smi: 13px;
  --font-size-3xs: 10px;
  --font-size-2xs: 11px;
  --font-size-mid: 17px;
  --font-size-6xl: 25px;
  --font-size-xl: 20px;
  --font-size-6xs: 7px;
  --font-size-base: 16px;
  --font-size-xs: 12px;
  --font-size-13xl: 32px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-gray-700: rgba(255, 255, 255, 0);
  --color-gray-200: rgba(0, 0, 0, 0.7);
  --color-gray-300: rgba(0, 0, 0, 0.5);
  --color-gray-400: rgba(0, 0, 0, 0.3);
  --color-gray-500: rgba(0, 0, 0, 0.25);
  --color-gray-600: rgba(0, 0, 0, 0.75);
  --color-gray-100: rgba(255, 255, 255, 0.5);
  --color-gray-800: rgba(123, 123, 123, 0.5);
  --color-black: #000;
  --color-white: #fff;
  --color-gainsboro-100: #d9d9d9;
  --color-gainsboro-200: rgba(217, 217, 217, 0);
  --color-gainsboro-300: rgba(217, 217, 217, 0.5);
  --color-silver-100: rgba(191, 191, 191, 0.5);
  --color-dimgray-100: rgba(84, 84, 84, 0);
  --color-darkgray: #a2a2a2;
  --color-whitesmoke-100: #e9e9e9;
  --color-whitesmoke-200: rgba(233, 233, 233, 0);
  --color-darkslategray-100: #333;
  --color-mistyrose: #e6c8c8;

  /* Gaps */
  --gap-lgi-7: 19.7px;
  --gap-3xs: 10px;
  --gap-xl: 20px;
  --gap-base: 16px;
  --gap-mini: 15px;
  --gap-3xl: 22px;
  --gap-11xl: 30px;
  --gap-11xs: 2px;
  --gap-8xs: 5px;
  --gap-6xs: 7px;

  /* Paddings */
  --padding-79xl: 98px;
  --padding-xl: 20px;
  --padding-104xl: 123px;
  --padding-31xl: 50px;
  --padding-6xl: 25px;
  --padding-39xl: 58px;
  --padding-7xs: 6px;
  --padding-sm-5: 13.5px;
  --padding-53xl: 72px;
  --padding-53xl-5: 72.5px;
  --padding-17xl: 36px;
  --padding-4xs: 9px;
  --padding-2xs: 11px;
  --padding-4xl: 23px;
  --padding-6xs-5: 6.5px;
  --padding-base: 16px;
  --padding-10xs: 3px;
  --padding-mid: 17px;
  --padding-5xs: 8px;
  --padding-smi: 13px;
  --padding-lg: 18px;
  --padding-11xs: 2px;
  --padding-sm: 14px;
  --padding-8xs: 5px;
  --padding-42xl: 61px;
  --padding-mini-5: 14.5px;
  --padding-11xl: 30px;
  --padding-base-5: 16.5px;
  --padding-9xl: 28px;
  --padding-11xs-5: 1.5px;
  --padding-9xs: 4px;
  --padding-mini: 15px;
  --padding-3xs: 10px;
  --padding-78xl: 97px;

  /* Border radiuses */
  --br-11xl: 30px;
  --br-9xs: 4px;
  --br-xl: 20px;
  --br-17xl: 36px;
}
